*
{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-image:url("main-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;

    overflow-y: hidden;
}
nav
{
    display: flex;
    justify-content: space-around;
    height:50vh;
    border:1px solid gray;
}
.logo
{
    margin-top:20px;
    width:10%;
    font-size: 3.5vh;
}
.logo a
{
    color:#ffff;
    text-decoration: none;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width:25%;
    margin-top:28px;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    text-decoration: none;
    color:#ffff;
    font-weight: bold;
}
.cut-line
{
    color:#ffff;
}

.nav-text
{
    position: relative;
    bottom:20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    color:#ffff;
}

.click-bar
{
    /* height:50%; */
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    position: relative;
    top:44vh;
}

.click-bar p    
{
    color:#ffff;
    font-size: 5.3vh;
    position: relative;
    transform: rotate(-45deg);

    cursor:pointer;
}

